{% load thumbnail %}
<html>
    
    <body>
        {% for c in companies %}
        <h1>{{ c.name }}</h1>
        <img src="{% thumbnail c.logo 250x250 crop upscale subject_location=c.logo.subject_location %}" />
        {% endfor %}
    </body>
</html>
